

@keyframes glitterEffect {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
.navbar{
  background: linear-gradient(to right, rgb(77, 75, 75), rgb(11, 11, 225));
}


  
  .navbar-brand {
    font-family: 'Arial', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(90deg, #f0f0f0,blue, #e955bc,orange);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: glitterEffect 3s infinite linear;
  }
  .btn{ background-color: #b9e9ba;}
  
 
  .navbar-nav .nav-link.active {
    color:white;}
  
  /* .slide-container{
    background-color: #27223f;
  } */
  .carousel-item img {
    height: 400px;  /* Adjust height as needed */
    object-fit:contain;  /* Ensures the whole image is visible */
    background-color: white; /* Optional: Adds a black background to fill empty space */
  }
  
  
  .imagefont{
    color: white;
    font-weight: 700;
    font-style: oblique;
    
  }
  .img-para-font{
    color: white;
    font-weight: 700;
    font-style: oblique;

  }
  
  


  .whyus-section {
    position:relative;
    background: rgb(6, 6, 97) center/cover;
    overflow: hidden;
    background-attachment: fixed;
  }
  .detail-box{
    color: #ffffff;
  }
  .whyus{
    color: white;
    font-size: 45px;
  }
  .icon{ 
    border-radius: 10px;
    width: 225px;
    height: 225px;
    }

  .whyus{
    text-align: center;
    text-transform: uppercase;
    padding-top: 5%;
    
  }
  .icon-heading{
    padding: 10px;
  }
  .saipowerintro{
    
    background: linear-gradient(to right, rgb(77, 75, 75), rgb(11, 11, 225));
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
   
   
  }
  .saiheading{
    text-align: center;
    text-transform: uppercase;
    padding-top: 5%;
    font-size: 35px;
    -webkit-text-stroke: 1.5px black; 
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-weight: 900;
  }
  .saipara{
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 0.5px black; 
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    padding-inline: 5px;
    padding-bottom: 10%;
    margin-bottom: 0px;
    
  }

  .trainer_section{
    background: linear-gradient(to top, rgb(76, 170, 229), rgb(26, 26, 169));
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
  }
  
    
 .heading_container{
    text-align: center;
    color: rgb(3, 3, 95);
    text-transform: uppercase;
    padding-top: 2%;
    font-size: 35px;
    -webkit-text-stroke: 1.5px rgb(251, 246, 246); 
    text-shadow: 2px 2px 3px rgba(10, 10, 10, 0.5);
    font-weight: 900;

 }
  .profilebutton{
  text-align: center;
  color: white;
  background-color: rgb(3, 3, 95);
  border-radius: 15px;
  }
.trainer-name{
  text-align: center;
    color: rgb(241, 236, 233);
    text-transform: uppercase;
    padding-top: 5%;
    font-size: 20px;
    -webkit-text-stroke: .5px rgb(248, 244, 244); 
    text-shadow: 2px 2px 3px rgba(10, 10, 10, 0.5);
    font-weight: 300;
    font-style: oblique;
    fo
}
.social_box{
  padding: 5px;
 text-align: center;

}
.trainerimage{
  width: 250px;
  height: 180px;
  border-radius: 10px;

  
}
.img-box{
  text-align: center;

}
.name{
  text-align: center;
}
.contact_section {
  position: relative;
  background-color: #27223f;
  color: #ffffff;
  margin-top: 15px;
}

.contact_section .heading_container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.contact_section .heading_container h2::before {
  text-align: left;
  left: 0;
  -webkit-transform: none;
          transform: none;
}

.contact_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_section .img-box img {
  width: 100%;
}

.contact_section .form_container {
  padding: 45px 0 45px 15px;
}

.contact_section input {
  width: 100%;
  border: none;
  background-color: #ffffff;
  outline: none;
  color: #000000;
  margin-top: 25px;
  padding: 12px;
}

.contact_section input::-webkit-input-placeholder {
  color: #2a2a2c;
}

.contact_section input:-ms-input-placeholder {
  color: #2a2a2c;
}

.contact_section input::-ms-input-placeholder {
  color: #2a2a2c;
}

.contact_section input::placeholder {
  color: #2a2a2c;
}

.contact_section input.message-box {
  padding: 45px 12px;
}

.contact_section button {
  padding: 10px 65px;
  outline: none;
  border: none;
  color: #ffffff;
  background: #ff2953;
  margin: 45px 0 0 auto;
  text-transform: uppercase;
}
.contactimage{
  border-radius: 50px;
  padding: 20px;
}





